mixin itemArticle ()
  .item-article
    .article-data
      i.fa.fa-calendar
      span 21.12.2016
    .article-title
      a(href="#")
        h2 Название моей первой новости.
    .article-wrap-text-img.clearfix
      .article-img
        a(href="#")
          img(src="../img/js.jpg", alt="")
      .article-text
        p Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Домах взобравшись путь заманивший, рукопись встретил все пустился своих вершину коварный выйти напоивший однажды диких осталось дал, буквоград букв грамматики!
    .article-control-panel.clearfix
      .article-tag
        i.fa.fa-folder-open
        span JavaScript
      .article-comm-views.clearfix
        .article-user
          i.fa.fa-user
          span Vitaliy
        .article-comments
          i.fa.fa-comment-o
          span 111
        .article-views
          i.fa.fa-eye
          span 32
      .article-button-read
        a.button(href="#")
          Читать

doctype html
html(lang='ru', class="no-js")
  head
    meta(charset='utf-8')
    
    title Blog
    meta(name='description', content='')
    
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(property='og:image', content='path/to/image.jpg')
    
    link(href="css/style.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    link(href="css/fonts.css", rel="stylesheet")
  body
    header
      .main-head
        .container
          .row
            .col-md-2
              .header-logo
                img(src="img/photo.jpg")
            .col-md-7
            .col-md-3
              .header-search
                input(type="search")
                i.fa.fa-search
      .main-menu
          .container
            .row
              .col-md-8
                .menu
                  ul
                    li
                      a(href="#") Главная
                    li
                      a(href="#") Сайт
                    li
                      a(href="#") Предложение
                    li
                      a(href="#") Контакты
              .col-md-4
                .header-social
                  a(href="http://vk.com/" class="icon-button vk")
                    span
                    i.fa.fa-vk
                  a(href="http://facebook.com/" class="icon-button facebook")
                    span
                    i.fa.fa-facebook
                  a(href="http://twitter.com/" class="icon-button twitter")
                    span
                    i.fa.fa-linkedin
                  a(href="https://www.linkedin.com/" class="icon-button linkedin")
                    span
                    i.fa.fa-twitter
                  a(href="http://github.com/" class="icon-button github")
                    span
                    i.fa.fa-github
    .container
      .row
        .col-md-8
          +itemArticle
          +itemArticle
          +itemArticle
          +itemArticle
        .col-md-4
          .sidebar-menu
            ul
              li
                a(href="#")
                  i.fa.fa-html5
                  | Html
              li
                a(href="#")
                  i.fa.fa-css3
                  | Css
              li
                a(href="#")
                  i.fa.fa-code
                  | JavaScript
              li
                a(href="#")
                  i.fa.fa-wordpress
                  | WordPress
              li
                a(href="#")
                  i.fa.fa-cogs
                  | Инструменты
              li
                a(href="#")
                  i.fa.fa-code
                  | jQuery плагины
              li
                a(href="#")
                  i.fa.fa-picture-o
                  | Изображения
              li
                a(href="#")
                  i.fa.fa-font
                  | Шрифты
          .sidebar-advertising
            .img-center
              img(src="../img/adv-img.png", alt="")
          .sidebar-anohter-block

script(src="js/scripts.js")
script(src="js/common.js")
